@import url(gloabal.css);

/*section*/

.bla {
    /*section*/
    height: 1500px;
    width: 80%;
    margin: 0 auto;
}

.list-photos {
    width: 100%;
    height: 1500px;
    /* background-color: burlywood; */
}

.list-photos .list-photos-group {
    width: 98%;
    height: 1500px;
    /* background-color: cadetblue; */
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    flex-wrap: wrap;
}

.list-photos .list-photos-group .box1 {
    width: 20%;
    height: 490px;
    border: 1px solid #F1F1F1;
}

.list-photos .list-photos-group:nth-child(1) {
    margin-top: 3em;
}

.list-box1 img {
    object-fit: cover;
    width: 100%;
    height: 320px;
}

.list-btn {
    width: 22%;
    height: 45px;
    background-color: #F5EDA8;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    padding-bottom: 1em;
}

.list-btn a {
    font-weight: 600;
    font-size: .7em;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.like-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    background-color: transparent;
    border: 1px solid rgb(202, 200, 200);
}

.discount-btn {
    width: 70%;
    height: 30px;
    position: absolute;
    bottom: 0.7em;
    right: 2.2em;
    background-color: #EDE7DD;
    border-radius: 15px;
}

.discount-btn a {
    color: black;
    font-weight: 600;
    font-size: .9em;
}

.like-btn:hover {
    opacity: .7;
}

.like-btn a img {
    width: 15px;
    height: 15px;
    object-fit: cover;
    position: absolute;
    top: 0.4em;
    right: 0.4em;
}

.list-box1 {
    position: relative;
}

.list-title-big {
    padding: .5em .5em .5em .5em;
    font-size: 1em;
    font-weight: 500;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-title-small {
    padding: .5em .5em .5em .5em;
    font-size: .9em;
    color: black;
    line-height: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.list-price {
    padding-left: 4em;
    font-size: .9em;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1 .amount {
    border: 1px solid gray;
    margin-left: 4.3em;
}

.box1 .btn-add-basket {
    background-color: #F5EDA8;
    width: 54%;
    height: 26px;
    margin-left: 3.3em;
}

.box1 .btn-add-basket:hover {
    border-radius: 10px;
    opacity: .9;
}


/*bottom filter*/

.bottom-filter {
    width: 15%;
    height: 100px;
    /* background-color: cornsilk; */
    margin: 0 auto 3rem;
}

.bottom-filter a ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.bottom-filter a ul li {
    color: black;
    padding-right: .2rem;
    font-size: 1.3em;
}

.bottom-filter a ul li:nth-child(2) {
    text-decoration: underline;
}

.bottom-filter a ul li img {
    width: 25px;
    height: 25px;
    object-fit: cover;
}

.fixed-menu {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 20px;
    bottom: 20px;
    background-color: #EDE7DD;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

.fixed-menu a img {
    width: 18px;
    height: 18px;
    object-fit: cover;
}


/*BURADAN AŞAĞIYA*/


/*Bottom Menu*/

.bottom-menu {
    display: none;
}

#navbar1 ul li {
    position: relative;
    z-index: 1;
}

#navbar1 ul li:hover .bottom-menu {
    display: block;
    width: 150px;
    height: 370px;
    position: absolute;
    background-color: #F5EDA8;
    top: 17px;
    left: -38px;
    border-radius: 5px;
    /* margin-right: 2em; */
}

#navbar1 ul li:hover .bottom-menu ul {
    display: block;
}

#navbar1 ul li .bottom-menu ul li a:nth-child(1) {
    font-weight: 600;
    font-size: 1em;
}

#navbar1 ul li .bottom-menu ul li {
    line-height: 30px;
    /* background-color: #FFFFF0; */
    width: 100px;
    height: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
    text-align: left;
    margin-top: .7em;
}

#navbar1 ul li .bottom-menu ul li a:hover {
    border-bottom: 1px solid rgb(85, 82, 82);
    color: rgb(85, 81, 81);
    transition: 500ms all;
    /* padding: 1em 1em 1em 0;
    background-color: white; */
}

#bottom-women-menu:hover {
    border-bottom: 3px solid black;
}


/*copy bottom-2*/


/*Child-menu*/

.bottom-menu-2 {
    display: none;
}

#navbar1 ul li {
    position: relative;
}

#navbar1 ul li:hover .bottom-menu-2 {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #F5EDA8;
    top: 17px;
    left: -38px;
    border-radius: 5px;
    /* margin-right: 2em; */
}

#navbar1 ul li:hover .bottom-menu-2 ul {
    display: block;
}

#navbar1 ul li .bottom-menu-2 ul li a:nth-child(1) {
    font-weight: 600;
    font-size: 1em;
}

#navbar1 ul li .bottom-menu-2 ul>li {
    line-height: 30px;
    /* background-color: #FFFFF0; */
    width: 100px;
    height: 150px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
    text-align: left;
    margin-top: .7em;
}

#navbar1 ul li .bottom-menu-2 ul li a:hover {
    border-bottom: 1px solid rgb(85, 82, 82);
    color: rgb(85, 81, 81);
    transition: 500ms all;
    /* padding: 1em 1em 1em 0;
    background-color: white; */
}


/*BURADAN AŞAĞIYA*/


/*Bottom Menu*/

.bottom-menu {
    display: none;
}

#navbar1 ul li {
    position: relative;
}

#navbar1 ul li:hover .bottom-menu {
    display: block;
    width: 150px;
    height: 370px;
    position: absolute;
    background-color: #F5EDA8;
    top: 19px;
    left: -38px;
    border-radius: 5px;
    /* margin-right: 2em; */
}

#navbar1 ul li:hover .bottom-menu ul {
    display: block;
}

#navbar1 ul li .bottom-menu ul li a:nth-child(1) {
    font-weight: 600;
    font-size: 1em;
}

#navbar1 ul li .bottom-menu ul li {
    line-height: 30px;
    /* background-color: #FFFFF0; */
    width: 100px;
    height: 350px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
    text-align: left;
    margin-top: .7em;
}

#navbar1 ul li .bottom-menu ul li a:hover {
    border-bottom: 1px solid rgb(85, 82, 82);
    color: rgb(85, 81, 81);
    transition: 500ms all;
    /* padding: 1em 1em 1em 0;
    background-color: white; */
}

#bottom-women-menu:hover {
    border-bottom: 3px solid black;
}

#navbar1 ul li a:hover {
    border-bottom: 1px solid black;
}


/*copy bottom-2*/


/*Child-menu*/

.bottom-menu-2 {
    display: none;
}

#navbar1 ul li {
    position: relative;
}

#navbar1 ul li:hover .bottom-menu-2 {
    display: block;
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: #F5EDA8;
    top: 19px;
    left: -38px;
    border-radius: 5px;
    /* margin-right: 2em; */
}

#navbar1 ul li:hover .bottom-menu-2 ul {
    display: block;
}

#navbar1 ul li .bottom-menu-2 ul li a:nth-child(1) {
    font-weight: 600;
    font-size: 1em;
}

#navbar1 ul li .bottom-menu-2 ul li {
    line-height: 30px;
    /* background-color: #FFFFF0; */
    width: 100px;
    height: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
    text-align: left;
    margin-top: .7em;
}

#navbar1 ul li .bottom-menu-2 ul li a:hover {
    border-bottom: 1px solid rgb(85, 82, 82);
    color: rgb(85, 81, 81);
    transition: 500ms all;
    /* padding: 1em 1em 1em 0;
    background-color: white; */
}


/*bottom-menu-later-code*/

.sub-menu {
    display: none;
}

.hover-me:hover .sub-menu {
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 100px;
    width: 150px;
    height: 300px;
    border-radius: 5px;
    background-color: #F5EDA8;
}

#navbar1 ul li .bottom-menu-2 ul li .sub-menu ul li a:hover {
    border-bottom: 1px solid rgb(85, 82, 82);
    color: rgb(85, 81, 81);
    transition: 500ms all;
}


/*  Login or Sign Up*/

#navbar1 ul li .login-or-signup ul {
    display: flex;
    justify-content: space-between;
}

.login-or-signup {
    display: none;
}

#navbar ul li:hover .login-or-signup {
    width: 160px;
    height: 120px;
    background-color: #FFFFF0;
    z-index: 1;
    display: block;
    position: absolute;
    top: 24px;
    left: -50px;
}

#navbar ul li {
    position: relative;
}

#navbar ul li:hover .login-or-signup ul {
    display: block;
}

#navbar ul li .login-or-signup ul li {
    line-height: 40px;
    background-color: #F5EDA8;
    width: 100px;
    height: 100px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9em;
    text-align: center;
    /* margin-top: .5em; */
    margin-left: 2rem;
}

#navbar ul li .login-or-signup ul li a:hover {
    padding: 1em;
    /* background-color: white; */
}